.college-page-wrapper {
    display: grid;
    grid-template-columns: 200px 1fr;

    .side-nav-container {
        border-right: 1px solid black;
    }
}

.college-wrapper {
    // margin-bottom: 300px;

    &>div {
        margin-inline: 30px;
    }
    
    .section-1 {
        box-shadow: 0px 1px 10px #ababab;

        .banner {
            height: 150px;
            overflow: hidden;
            width: 100%;
            img {
                object-fit: contain;
                width: 100%
            }
        }
        .bottom {
            display: flex;
            padding: 20px;

            .img-container {
                box-shadow: 0px 5px 10px #888888;
                aspect-ratio: 1;
                height: fit-content;
                background-color: white;
                padding: 15px;
                margin-top: -50px;
                border-radius: 5px;

                img {
                    aspect-ratio: 1;
                    width: 130px;
                }
            }
            .content {
                padding-left: 20px;
                width: 100%;

                h1 {
                    font-size: 24px;
                    font-weight: 600;
                    margin-bottom: -5px;
                }
                &>div {
                    padding-top: 5px;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;

                    .rating {
                        display: flex;
                        color: gold;
                        gap: 1px;
                        b {
                            color: black;
                        }
                        i {
                            font-size: 12px;
                            color: blue;
                            padding-top: 3px;
                        }
                    }
                    .button-container {
                        display: flex;

                        button {
                            display: flex;
                            gap: 5px;
                            padding-inline: 10px;
                        }
                    }
                }
            }
        }
    }
    nav {
        margin-top: 20px;
        box-shadow: 0px 1px 10px #ababab;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        a {
            padding: 10px !important;
            color: rgb(0, 98, 255);
        }
        .forum-link {
            background-color: rgb(255, 132, 0);
            height: 100%;
            display: grid;
            align-items: center;
            justify-content: center;
            font-weight: 500;
            color: black;
            padding-inline: 20px;
            width: 100px;

            &:hover {
                text-decoration: underline;
            }
        }
    }
    .about {
        margin-top: 20px;
        // box-shadow: 0px 1px 10px #ababab;

        h1 {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid rgb(195, 195, 195);
            padding-left: 15px;
            padding-block: 10px;
        }
        h2 {
            font-weight: 500;

            b {
                font-weight: 600;
                font-size: 40px;
            }
        }
        .content {
            margin-top: 10px;
            padding: 15px;
            line-height: 1.4;
        }
    }
    .courses, .contact {
        margin-top: 20px;

        h1 {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid rgb(195, 195, 195);
            padding-left: 15px;
            padding-block: 10px;
        }
        .content {
            padding: 15px;
            line-height: 1.4;

            li {
                list-style-type: none;
                padding-block: 10px;
                border-top: 1px solid rgb(195, 195, 195);
                padding-left: 10px;
                font-weight: 500;

                &:nth-of-type(1){
                    border: none;
                }

                b {
                    font-weight: 600;
                }
            }
        }
    }
    .placements {
        margin-top: 20px;

        h1 {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid rgb(195, 195, 195);
            padding-left: 15px;
            padding-block: 10px;
        }
        .content {
            margin-top: 10px;
            padding: 15px;
            line-height: 1.4;
        }
        .cards-container {
            margin-top: 30px;
            display: flex;
            gap: 20px;

            .card {
                background-color: #0A95FF;
                border-radius: 5px;
                border: 1px solid #0A95FF;
                text-align: center;
                color: white;

                h2 {
                    height: 60px;
                    display: grid;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    font-weight: 600;
                }

                h3 {
                    padding: 10px;

                    border-top: 1px solid black;
                }
            }
        }
    }
    .scholarships {
        margin-top: 20px;

        h1 {
            font-size: 30px;
            font-weight: 500;
            border-bottom: 1px solid rgb(195, 195, 195);
            padding-left: 15px;
            padding-block: 10px;
        }
        .content {
            margin-top: 10px;
            padding: 15px;
            line-height: 1.4;
        }
    }
    .contact {
        li {
            color: rgb(0, 98, 255);
            b {
                color: black;
            }
            a:hover {
                text-decoration: underline;
            }
        }
    }
}